body {
	background-image: url("../assets/images/img_background.png");
	
	height: 100%;

	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 320px) {
	body {
		background-image: url("../assets/images/img_background@2x.png");
	}
}

.flex-shrink-0 .container {
	margin-top: 30px;
	margin-bottom: 100px;
}

/* CARD CONTENT */
#content {
	font-family: 'Raleway';
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	width: 250px;
	height: 420px;
}

#content .new {
	position: absolute;
	top: 0px;
	right: 0px;
}

.btn-view {
	position: absolute;
	border-width: 1px;
	border-color: #FFFFFF;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	width: 200px;
	height: 35px;
	bottom: 50px;
	opacity: 0;
	transition: all .2s ease-in;
	z-index: 200;
	border-radius: 40px;
	visibility: hidden;
}

#content:hover .btn-view {
	border-width: 1px;
	border-color: #FFFFFF;
	visibility: visible;
	opacity: 0.74;
	bottom: 40px;
}

.in-stock .btn-view {
	background-color: #6DA425;
}

.out-of-stock .btn-view {
	background-color: #757575;
}

.in-stock .btn-view:hover {
	background-color: #757575;
}

.out-of-stock .btn-view:hover {
	background-color: #6DA425;
}

.btn-like {
	width: 54px;
	height: 32px;
	background-color: #FFFFFF;
	border-radius: 40px;
	border-width: 1px;
	border-color: #E1E1E1;
}

.all-list .btn-like {
	position: absolute;
	top: 17px;
	left: 20px;
}

.detail .btn-like {
	width: 70px;
	height: 45px;
	margin-right: 20px;
}

.btn-like:hover {
	top: 0px;
	left: 0px;
	border-width: 0px;
	background-color: #E7246B;
}

.btn-like img {
	position: relative;
	top: -5px;
	left: 0px;
	border-width: 1px;
	border-color: #E1E1E1;
}

.detail .btn-like img {
	top: 0px;
}

.btn-like:hover img {
	border-width: 0px;
}

#content p#stock {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #E64580;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
}

#content .hover {
	position: absolute;
	bottom: -100px;
	left: 0px;
	transition: all .2s ease-out;
}

#content .card-img-overlay {
	border-radius: 3px;
	opacity: 0;
	/*visibility: hidden;*/
	transition: all .2s ease-in;
	overflow: hidden;
}

#content .in-stock {
	background-color: #74B71B;
}

#content .out-of-stock {
	background-color: #D8D8D8;
}

#content:hover .card-img-overlay {
	/*visibility: visible;*/
	opacity: 0.8;
}

#content:hover .hover {
	bottom: 0px;
}

.card-image .img-fluid {
	object-fit: scale-down;
}

#content p#product-name {
	width: 200px;
	color: #3C3C3F;
	text-align: left;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: bold;
}

#content #points, #content #reviews {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#content #points p, #content #reviews p {
	margin-left: 10px;
	margin-right: 10px;
}

#content #points p {
	font-size: 14px;
	color: #74B71B;
}

#content #reviews p {
	font-size: 12px;
	color: #838EAB;
}

#content .point, #content p {
	display: inline-flex;
}

#content .point {
	border-radius: 50%;
}

.detail {
	font-family: 'Raleway';
	font-size: 14px;
}

.detail .new {
	position: absolute;
	top: 0px;
	right: 0px;
}

.detail .card-header {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 24px;
}

.detail #reviews {
	margin-bottom: 10px;
}

.detail #reviews p {
	margin-left: 5px;
	color: #838EAB;
}

.detail p.points {
	margin-left: 5px;
	font-size: 24px;
	color: #74B71B;
}

.detail p.stock {
	font-weight: 600;
	margin-left: 10px;
	color: #006A4E;
}

.detail #points, .detail p {
	display: inline;
}

.detail #info {
	width: 400px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.detail #info p {
	letter-spacing: 0.01px;
	color: #262626;
}

.detail .input-group {
	border-width: 1px
}

.detail .card-footer {
	background-color: #FFFFFF;
}

.btn-redeem {
	margin-right: 20px;
	width: 150px;
	height: 45px;
	background-color: #006A4E;
	border-radius: 40px;
	border-width: 1px;
	border-color: #006A4E;
}

.btn-redeem:hover {
	color: #006A4E;
	background-color: #FFFFFF;
	border-width: 1px;
	border-color: #006A4E;
}

.btn-addtocart {
	color: #74B71B;
	width: 150px;
	height: 45px;
	background-color: #FFFFFF;
	border-radius: 40px;
	border-width: 1px;
	border-color: #74B71B;
}

.btn-addtocart:hover {
	color: #FFFFFF;
	background-color: #74B71B;
	border-width: 1px;
	border-color: #74B71B;
}

.detail .description {
	margin-top: 50px;
}

.detail .description h3 {
	font-size: 16px;
	color: #74B71B;
}

.detail .boldline {
	border-bottom: solid;
}

.detail .thinline {
	border-bottom: solid;
}

.detail .description h2 {
	color: #006A4E;
	font-size: 20px;
}